Foursquare_cred.json
geocoder_api.csv
Nottingham postcodes.csv
crime_notts.csv
SCN_Toronto.ipynb
Capstone_The-Battle-of-the-Neighborhoods.ipynb
Capstone_Uni_accommodation.ipynb
Capstone Project.ipynb

